services:
  anchormarks:
    build:
      context: ../..
      dockerfile: ./packages/docker/Dockerfile
    env_file:
      - .env    
    container_name: anchormarks
    restart: unless-stopped
    ports:
      - "${PORT:-3000}:${PORT:-3000}"
    volumes:
      - ../../apps/server:/apps/server
      - ../../apps/public:/apps/public
      - ../../apps/database:/apps/database
      - ../../apps/ssl:/apps/ssl
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--no-verbose",
          "--tries=1",
          "--spider",
          "http://${HOST:-0.0.0.0}:${PORT:-3000}/api/health",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s
